@using FoodSupplementsSystem.ViewModels.AllTopics
@using FoodSupplementsSystem.ViewModels.AllComments
@model TopicDetailsViewModel
@{
    ViewBag.Title = "Topic Details " + Model.Name;
}

<h2>@Model.Name</h2>

<h4><strong>Description: </strong></h4>
<div>
    @Model.Description
</div>

<br />
<h3>All Comments</h3>
<br />

@Html.Partial("_PostCommentPartial", new PostCommentViewModel(Model.Id))

@foreach (var comment in Model.Comments)
{
    @Html.Partial("_CommentPartial", comment)
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryajax")
    @Scripts.Render("~/bundles/jqueryval")
}